@inherits LayoutComponentBase

<MudBlazor.MudThemeProvider @bind-IsDarkMode="@_isDarkMode" />
<MudBlazor.MudDialogProvider />
<MudBlazor.MudSnackbarProvider />

<MudLayout>
	<MudAppBar>
		<div class="d-flex flex-row gap-4">
		</div>
		<MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(() => DrawerToggle())" />
		Randy Blazor
		<div class="flex-grow-1"></div>
		<MudSwitch class="ml-auto" Color="Color.Primary" @bind-Value="@_isDarkMode" Label="Toggle Dark Mode" />

	</MudAppBar>
	<MudDrawer @bind-Open="@_drawerOpen">
		<NavMenu />
	</MudDrawer>
	<MudMainContent>
		@Body
	</MudMainContent>
</MudLayout>

@code {
	bool _drawerOpen = false;
	bool _isDarkMode = true;
	MudTheme _theme = new();

	public void DrawerToggle()
	{
		_drawerOpen = !_drawerOpen;
	}
}